/* file could be split up if it becomes any more hecktic */

$map-height:700px;

#map {
  position:relative;
  //border:10px solid black;
  height:$map-height;
  width:100%;
  overflow:hidden;
}

$icon-height:30px;

#scroller-container {
  position:relative;
  padding-top:$icon-height/4;
  text-align:center;
  height:100%;
  width:30%;
  background:#66CCFF;
  z-index:2;
}

.info-icon {
  top:10px;
  position:absolute;
  left:10px;
  height:$icon-height;
  width:auto;
}

#map-scroller {
  position:relative;
  top:$icon-height;
  height:$map-height - 56px;
  width:100%;
  background:linear-gradient(to left, white, #E6E6E6, white);
  overflow-x:hidden;
  overflow-y:scroll;
}

#interactive {
  position:absolute;
  right:0px;
  top:0px;
  width:70%;
  height:100%;
}

#event-handler{
  width:100%;
  height:100%;
  position:absolute;
  z-index:5;
}

#interactive div:not([id="event-handler"]) {
  width:100%;
  height:auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

#interactive img {
  width:100%;
  height:auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
