/* file could be split up if it becomes any more hecktic */

$map-max-height:600px;
$map-min-height:200px;

#map {
  position:relative;
  //border:10px solid black;
  height:100%;
  max-height:$map-max-height;
  min-height:$map-min-height;
  width:100%;
  overflow:hidden;
}

$icon-height:30px;

#scroller-container {
  position:relative;
  padding-top:$icon-height/4;
  text-align:center;
  height:100%;
  width:30%;
  background:#66CCFF;
  z-index:2;
}

.info-icon {
  top:5px;
  position:absolute;
  left:5px;
  height:$icon-height;
  width:auto;
}

#map-scroller {
  position:relative;
  top:$icon-height;
  height:100%;
  min-height:$map-min-height;
  max-height:$map-max-height;
  width:100%;
  background:linear-gradient(to left, white, #E6E6E6, white);
  overflow-x:hidden;
  overflow-y:scroll;
}

#interactive {
  position:absolute;
  right:0px;
  top:0px;
  width:70%;
  height:100%;
}

#interactive div {
  width:100%;
  height:auto;
}

#interactive img {
  width:100%;
  height:auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
